
# Ignore Eclipse project files
.classpath
.project
.settings/
.metadata/

# Ignore logs and error files
*.log
hs_err_pid*.log
replay_pid*.log

# Ignore build directories

test-output/

# Ignore reports and temporary files
Reports/
LogFile/
Screenshots/
ScreenRecords/

# Ignore resource or binary artifacts
*.zip
*.jar
*.war
*.class
